---
import SectionHeader from "../components/SectionHeader.astro";
import Layout from "../layout/Layout.astro";
import Header from "../components/Header.astro"
---

<Layout>
	<main>
		<Header/>
		<SectionHeader>Salut
			<i class="fa-light fa-hand-wave fa-beat-fade"></i>
		</SectionHeader>
	</main>
</Layout>
