---
import SectionHeader from "../components/SectionHeader.astro";
import Layout from "../layout/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
	<main>
		<Header />

		<h1 class="text-3xl lg:text-3xl font-bold font-souvenir mb-4 mt-6">
			Salut &#128075;
		</h1>
		<p id="about">
			I'm a Computer science student in Nigeria and an aspiring software
			developer. I enjoy building things that run on computers, <br />yes
			even with bugs (: (forced smile).
		</p>
	</main>
</Layout>
