---

---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h3 >
		<a href="https://medium.com/@ayomidelegbede/detecting-and-removing-loops-in-linked-lists-a-beginners-guide-7921e3da18c8" class="article" >
			<p> ~ Detecting and Removing Loops in Linked Lists: A Beginner’s Guide</p>
		</a>
		<a href="https://medium.com/@ayomidelegbede/building-a-student-record-management-system-from-student-struggles-to-design-pattern-triumph-with-8c978eec521c" class="article" >
			<p> ~ Building a Student Record Management System: From Student Struggles to Design Pattern Triumph (with the HNG Internship in Sight!)</p>
		</a>

	</h3>
</body>
</html>
