---
const year = new Date().getFullYear();
---
<footer class="max-w-6xl flex justify-between items-center border-t border-neutral-900 mt-10 mx-auto py-8 px-6">
    <p>
        &copy;{year} <a href="https://devhamzat.vercel.app/">Hamzat.</a>
    </p>
</footer>