---

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            crossorigin="anonymous"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            referrerpolicy="no-referrer"
            rel="stylesheet"
        />
        <title>Hub</title>
    </head>
    <body>
        <div class="hub-card">
            <p class="mt-3">Here are some of my exploration:</p>
            <div class="mt-6 projects-grid">
                <div class="project-card">
                    <div class="project-description">
                        <h3>
                            <a
                                href="https://github.com/devhamzat/BankingApp"
                                target="_blank"
                                >Banking api
                            </a>
                        </h3>
                        <p>
                            A banking appliction api. <br />It has end points
                            that allow user register,transfer,withdraw,deposit,<br
                            />balance and name inquiry.With email alerts!
                        </p>
                        <a href="https://github.com/devhamzat/BankingApp"
                            >View Project</a
                        >
                    </div>
                </div>
                <div class="project-card">
                    <div class="project-description">
                        <h3>
                            <a
                                href="https://github.com/devhamzat/DSA"
                                target="_blank">DSA</a
                            >
                        </h3>
                        <p>
                            My quest to be an expert in data structures and
                            algorithm
                        </p>
                        <a
                            href="https://github.com/devhamzat/DSA"
                            target="_blank"
                            >View Project
                        </a>
                    </div>
                </div>
                <div class="project-card">
                    <div class="project-description">
                        <h3>
                            <a
                                href="https://github.com/devhamzat/atm-machine"
                                target="_blank">Atm-machine</a
                            >
                        </h3>
                        <p>
                            This is a mini atm machine project, it is written in
                            java .<br /> It is a command line project with feautures
                            like transfer,withdrawal and more
                        </p>
                        <a
                            href="https://github.com/devhamzat/atm-machine"
                            target="_blank">View Project</a
                        >
                    </div>
                </div>
                <div class="project-card">
                    <div class="project-description">
                        <h3>
                            <a
                                href="https://github.com/devhamzat/customerManagement"
                                target="_blank"
                                >customer Management
                            </a>
                        </h3>
                        <p>
                            A customer management api. A project used to learn
                            spring boot
                        </p>
                        <a
                            href="https://github.com/devhamzat/customerManagement"
                            >View Project</a
                        >
                    </div>
                </div>
                <div class="project-card">
                    <div class="project-description">
                        <h3>
                            <a
                                href="https://github.com/devhamzat/devhamzatPortfolio"
                                target="_blank"
                                >portfolio
                            </a>
                        </h3>
                        <p>
                            My portfolio. Built using Astro<a
                                href="https://devhamzat.vercel.app/"
                                >Live here</a
                            >
                        </p>
                        <a
                            href="https://github.com/devhamzat/devhamzatPortfolio"
                            >View Project</a
                        >
                    </div>
                </div>
                <div class="project-card">
                    <div class="project-description">
                        <h3>
                            <a
                                href="https://hngapp-production.up.railway.app/api/hello?visitor_name=mark"
                                target="_blank"
                                >Hng task 1
                            </a>
                        </h3>
                        <p>
                            This was an Hng bacend task that returns the requesters ip address, location and greets the name added in the url(you can change the name)<a
                                href="https://hngapp-production.up.railway.app/api/hello?visitor_name=mark"
                                >Live here</a
                            >
                        </p>
                        <a
                            href="https://github.com/devhamzat/HngApp"
                            >View Project</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<style>
    .projects-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 0.8rem;
    }
    .project-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid var(--body-color);
    }
    .project-card .project-img {
        width: 100%;
        aspect-ratio: 17/11;
        border-bottom: 1px solid var(--body-color);
        object-fit: cover;
    }
    .project-description {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        padding: 1rem;
    }

    .project-description p {
        font-size: 14px;
        margin-top: 0.3rem;
        margin-bottom: 1rem;
        font-weight: bold;
        font-style: italic;
    }

    .project-description a {
        width: max-content;
        display: block;
        font-size: var(--scale-4);
        align-self: flex-end;
        text-decoration: none;
        cursor: pointer;
        padding: 0.7rem 1.25rem;
    }
</style>
